body {
  background-color: black;
  color: white;
}

main {
  padding-left: 90px;
  padding-right: 90px;
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.medium{
	width: 300px;
	margin-bottom: 15px;
	margin-top: 15px;
}

.first-image{
	float: left;
	margin-right: 15px;

}

.second-image{
	float: right;
	margin-left: 15px;
}
