* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body{

}

nav{
	position: fixed;
	background-color: grey;
	width: 100%;
	height: 60px;
}

.container{
	padding-left: 60px;
	padding-right: 60px;
}

.logo{
	position: relative;
	display: inline-block;
}

nav ul{
	display: inline-block;
	list-style: none;
	position: relative;
}

nav li{
	display: inline-block;
}

.search-box{

}

.pages{

}

.results{

}

.listing{
	margin-left: 15px;
	margin-right: 15px;
}

.job1::before{
	content: "June 22 ";
}