main{

}

body {
	box-sizing: border-box;
  background: 
    url(images/outerspace_landscape.jpeg);
  background-size: cover;
  position: fixed;
}

nav{
	height: 60px;
	position: fixed;
	text-align: left;
	padding-left: 60px;
	padding-right: 60px;
	background-color: grey;
	width: 100%;
}
img{
	border-style: none;
}

nav .icon-img{
	height: 50px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-radius: 50%;
	vertical-align: middle;
	border: 1px solid black;
}

nav > li{
	position: relative;
	list-style: none;
	display: block;
	left: 120px;
	text-decoration: none;
	text-align: -webkit-match-parent;
}

.landscape{
	position: relative;
	background-size: cover;
}
